# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store


# Ignore Docker files
docker-compose.yml
Dockerfile