<!DOCTYPE html>
<html>
<head>
    <title>Manage Articles</title>
</head>
<body>

<h2>Manage Articles (Editor)</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Approved</th>
        <th>Actions</th>
    </tr>

    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>
        Published by:
        {% if article.publisher %}
            {{ article.publisher.name }}
            <br>
            Written by {{ article.author.username }}
        {% else %}
            {{ article.author.username }}
        {% endif %}
        </td>
        <td>{{ article.approved }}</td>

        <td>
            <a href="{% url 'main_app:edit_article' article.id %}">Edit</a> |
            <a href="{% url 'main_app:delete_article' article.id %}">Delete</a> |
            <a href="{% url 'main_app:approve_article' article.id %}">
                {% if article.approved %}Unapprove{% else %}Approve{% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
    <!-- Navigation -->
    <a href="{% url 'authenticator:welcome' %}">
        <button>🏠 Back to Home</button>
    </a>

</body>
</html>