<!DOCTYPE html>
<html>
<head>
    <title>{{ newsletter.title }}</title>
</head>
<body>

<h1>{{ newsletter.title }}</h1>

<p>{{ newsletter.description }}</p>

<p>
    Published by:

    {% if newsletter.publisher %}
        {{ newsletter.publisher.name }}
        <br>
        Written by {{ newsletter.author.username }}
    {% else %}
        {{ newsletter.author.username }}
    {% endif %}
</p>

<hr>

<h2>Articles</h2>

{% for article in newsletter.articles.all %}

    <p>
        <a href="{% url 'main_app:view_article' article.id %}">
            {{ article.title }}
        </a>
    </p>

{% empty %}

    <p>No articles.</p>

{% endfor %}

    <!-- Navigation -->
    <a href="{% url 'main_app:newsletter_catalogue' %}">
        <button>📄 Newsletters</button>
    </a>

    <a href="{% url 'authenticator:welcome' %}">
        <button>🏠 Back to Home</button>
    </a>
</body>
</html>